<div style="text-align: center;">
    <div style="display: flex; justify-content: center;">
        <input type="number" [(ngModel)]="number1">
        <select name="operation" [(ngModel)]="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" [(ngModel)]="number2">
        <button type="button" (click)="compute()">Calculer</button>
    </div>
    <p>
        Résultat : {{ result }}
    </p>
    <h3 style="margin-top: 30px;">Historique : </h3>
    <ul>
        <li *ngFor="let item of history.reverse()">
            {{ item }}
            <button type="button" (click)="deleteHistoryLine(item)">effacer</button>
        </li>
    </ul>
</div>